@tailwind base;
@tailwind components;
@tailwind utilities;

.a {
  fill: none;
  stroke: #f70090;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
  background-color: #611bbd;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #49247a;
}

/* input::-webkit-date-and-time-value {
  text-align: left !important;
} */

/* select {
  -webkit-appearance: none !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
} */
