@tailwind base;
@tailwind components;
@tailwind utilities;

.a {
  fill: none;
  stroke: #f70090;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
  background-color: #611bbd;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #49247a;
}

/* input::-webkit-date-and-time-value {
  text-align: left !important;
} */

.payment-button {
  background-color: transparent;
  color: #3b0764;
  cursor: pointer;
  font-size: 16px;
  padding: 2px;
  outline: none;
}

.payment-button:focus {
  border: 1px solid #3b0764;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(59, 7, 100, 0.5);
}
